html {
  background: url(https://images.unsplash.com/photo-1489844097929-c8d5b91c456e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font-family: 'helvetica neue',helvetica,Calibri,Arial,sans-serif;
  margin:0;
  padding:0;}

header {
  padding:20px;
  margin-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
h1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
hr {
  border: none;
  height: 4px;
  background-color: #333;
  width: auto;
}
footer {
  background-color: #333;
  color :white;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  padding: 0 25px;
  font-size: 14px;
  line-height: 30px;
  position: relative;
  z-index: 1;
}
a:hover{
  text-decoration: underline;
  background: gold;
 color: #fff;
}
a:hover:after {
  transform: translateY(-50%) rotate(-35deg);
}
nav {
  position: relative;
  width: calc(100% - 60px);
  margin: 0 auto;
  padding: 10px 0;
  background: #333;
  z-index: 1;
  text-align: right;
  padding-right: 2%;
}
nav:before {
  position: absolute;
  content: '';
  border-top: 15px solid #333;
  border-right: 10px solid #333;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 100%;
  left: 0;
}

nav:after {
  position: absolute;
  content: '';
  border-top: 15px solid #333;
  border-left: 10px solid #333;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 100%;
  right: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav li {
  display :inline-block;
}
#main-login {
  margin: auto;
  width: 30%;
  height: 50%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field::placeholder {
  color: #3a3a3a;
}

.login-form-field {
  border: none;
  border-bottom: 1px solid #333;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 0px 0px;
}
#submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #333;
  cursor: pointer;
  outline: none;
  }
#submit:hover {
  background-color: white;
  color: #333;
}
#Register{
  text-transform: capitalize;
  width: 100%;
  padding: 1px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #333;
  cursor: pointer;
  outline: none;
  }
#Register:hover {
    background-color: white;
    color: #333;
  }
.button{
  font-family: 'helvetica neue', helvetica, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid black;
  background: rgba(0, 65, 106,0.1);
  color: black;
  box-shadow: 1px 1px 2px rgba(0, 65, 106,0.4);
  border-radius: 10px;
  padding: 5px 20px;
  display: inline-block;
  cursor: pointer;
  &:hover {
    background: darken(#C06C84,10%);
    box-shadow: 0 4px 17px rgba(0,0,0,0.2);
    transform: translate3d(0, -2px, 0);
  }
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  &:focus {
  border: 3px solid black;
}
}
p{
  text-align: center;
  font-size: 20px;
}

footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
}
