<html>
    <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"><!--setting the device adjustment-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Project 2</title>
    </head>
    <body>
        <header>
         <nav>
          <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if true %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% else %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
          </ul>
         </nav>
        <hr>
        </header>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
    
